In [72]:
import pandas as pd
import numpy as np

In [73]:
data=pd.read_excel("C:/Users/USER/Favorites/Desktop/Telco-Customer-Churn.xlsx");data

C:\ProgramData\Anaconda\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0.0,Yes,No,1.0,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0.0,No,No,34.0,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
2,3668-QPYBK,Male,0.0,No,No,2.0,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0.0,No,No,45.0,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0.0,No,No,2.0,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0.0,Yes,Yes,24.0,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.50,No
7039,2234-XADUH,Female,0.0,Yes,Yes,72.0,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.90,No
7040,4801-JZAZL,Female,0.0,Yes,Yes,11.0,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,8361-LTMKD,Male,1.0,Yes,No,4.0,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.60,Yes
7042,3186-AJIEK,Male,0.0,No,No,66.0,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.50,No

In [33]:
data.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0.0,Yes,No,1.0,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0.0,No,No,34.0,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
2,3668-QPYBK,Male,0.0,No,No,2.0,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0.0,No,No,45.0,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0.0,No,No,2.0,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

# Q-1

In [34]:
d1=data[data["Churn"]=="No"]

In [35]:
d1["gender"].value_counts()

Male      2625
Female    2549
Name: gender, dtype: int64

In [36]:
d1["SeniorCitizen"].value_counts()

0.0    4508
1.0     666
Name: SeniorCitizen, dtype: int64

# Q-2

In [37]:
d2=data[data["Churn"]=="Yes"]

In [38]:
d2["gender"].value_counts()

Female    939
Male      930
Name: gender, dtype: int64

In [39]:
d2["SeniorCitizen"].value_counts()

0.0    1393
1.0     476
Name: SeniorCitizen, dtype: int64

# Q-3

In [40]:
data["PaymentMethod"].unique()

array(['Electronic check', 'Mailed check', 'Bank transfer (automatic)',
       'Credit card (automatic)'], dtype=object)

In [41]:
d3=data[data["PaymentMethod"]=="Electronic check"]

In [42]:
d3["Churn"].value_counts(normalize)

No     1294
Yes    1071
Name: Churn, dtype: int64

In [43]:
d4=data[data["PaymentMethod"]=="Mailed check"]

In [44]:
d4["Churn"].value_counts()

No     1304
Yes     308
Name: Churn, dtype: int64

In [45]:
d5=data[data["PaymentMethod"]=="Bank transfer (automatic)"]

In [46]:
d5["Churn"].value_counts()

No     1286
Yes     258
Name: Churn, dtype: int64

In [47]:
d6=data[data["PaymentMethod"]=="Credit card (automatic)"]

In [48]:
d6["Churn"].value_counts()

No     1290
Yes     232
Name: Churn, dtype: int64

In [49]:
d3["Contract"].value_counts()

Month-to-month    1850
One year           347
Two year           168
Name: Contract, dtype: int64

In [50]:
d4["Contract"].value_counts()

Month-to-month    893
Two year          382
One year          337
Name: Contract, dtype: int64

In [51]:
d5["Contract"].value_counts()

Month-to-month    589
Two year          564
One year          391
Name: Contract, dtype: int64

In [52]:
d6["Contract"].value_counts()

Two year          581
Month-to-month    543
One year          398
Name: Contract, dtype: int64

# Another method

In [23]:
a=data.PaymentMethod
b=data.Churn
c=data.Contract

In [53]:
p=pd.crosstab(a,[b]);p

Churn                        No   Yes
PaymentMethod
Bank transfer (automatic)  1286   258
Credit card (automatic)    1290   232
Electronic check           1294  1071
Mailed check               1304   308

In [25]:
pd.crosstab(a,[c])

Contract                   Month-to-month  One year  Two year
PaymentMethod
Bank transfer (automatic)             589       391       564
Credit card (automatic)               543       398       581
Electronic check                     1850       347       168
Mailed check                          893       337       382

# Q-4

In [26]:
x=data.InternetService
y=data.gender
z=data.Churn

In [27]:
pd.crosstab(x,[y,z])

gender          Female      Male
Churn               No  Yes   No  Yes
InternetService
DSL                969  219  993  240
Fiber optic        889  664  910  633
No                 691   56  722   57

# Q-5

In [66]:
a1=data.TotalCharges
a2=data.gender
a3=data.Contract
a4=data.PaymentMethod

In [71]:
(pd.crosstab(a1,a2)).describe()

gender       Female         Male
count   6533.000000  6533.000000
mean       0.533905     0.544160
std        0.549695     0.575913
min        0.000000     0.000000
25%        0.000000     0.000000
50%        1.000000     1.000000
75%        1.000000     1.000000
max        6.000000     9.000000

In [64]:
(pd.crosstab(a1,[a3])).describe()

Contract  Month-to-month     One year     Two year
count        6533.000000  6533.000000  6533.000000
mean            0.593143     0.225471     0.259452
std             0.664074     0.419751     0.444265
min             0.000000     0.000000     0.000000
25%             0.000000     0.000000     0.000000
50%             1.000000     0.000000     0.000000
75%             1.000000     0.000000     1.000000
max            10.000000     2.000000     3.000000

In [65]:
(pd.crosstab(a1,[a4])).describe()

PaymentMethod,Bank transfer (automatic),Credit card (automatic),Electronic check,Mailed check
count,6533.000000,6533.000000,6533.000000,6533.000000
mean,0.236339,0.232971,0.362008,0.246747
std,0.429524,0.425284,0.510881,0.505670
min,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,1.000000,0.000000
max,3.000000,2.000000,4.000000,7.000000